#root {
  margin: 0 auto;
  padding: 50px 150px;
  text-align: center;
  border: 8px solid rgb(228, 246, 63);
  background-color:#47beff;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}
