.text {
    font-size: 24px;
    color: #545454;
    font-weight: bold;
}

.input {
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(204, 228, 249);
    margin: 10px;
    font-size: 20px;
    color: #545454;
    border: 1px solid #545454;
}