body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 30px;
  min-height: 100vh;
  background-image: url('../public/img/cloud.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
